<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image profile">
                    <!--             <img class="img-circle img-responsive" src="img/about/ja.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Who am I?</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Highly driven and proactive junior developer with outstanding analytical and interpersonal skills. I am always enthusiastic and offer a creative yet logical approach to projects.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image trent">
<!--                                 <img class="img-circle img-responsive" src="img/about/trent.png" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006 - 2009</h4>
                                    <h4 class="subheading">Nottingham Trent University</h4>
                                    <h4 class="subheading">BA History</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Specialisms in urban and rural Victorian England, The Spanish Conquest of the Americas and Medieval and Early Modern Europe.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/notts.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010 - 2011</h4>
                                    <h4 class="subheading">University of Nottingham</h4>
                                    <h4 class="subheading">LLM in Commercial and Corporate Law</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Specialisms in commercial, corporate, finance, economics and banking, insolvency and trade finance. Dissertation was read on the topical bank ‘bail-in’ theory and debt-to-equity swaps. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/citi.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011 - 2015</h4>
                                    <h4 class="subheading">Citigroup</h4>
                                    <h4 class="subheading">Corporate and Investment Banking</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Highly experienced in a number of financial products including equities, corporate and convertible bonds and a number of derivatives including call and put warrants. 
                                    High-end knowledge of corporate restructuring and reorganising transactions and trade lifecycles, settlement systems and protocols in the European Markets. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ga.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">General Assembly</h4>
                                    <h4 class="subheading">Web Development Immersive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In this rapidly changing industry, the skills obtained at General Assembly are not just for todays technology, which will potentially be obsolete in the near future, but it is for the skills on how to think, how to solve problems, and how to devise new technology that will push our boundaries. 

HTML/CSS, Javascript, jQuery, Ruby, Ruby on Rails, Mongo, Node.js, AngularJS, Canvas, APIs</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <a href="#contact" class="page-scroll btn" style="color:white">
                                  <h4>Say
                                    <br>Hello
                                     <br>
                                     </h4>
                              </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>