<!-- Services Section -->
    <section id="services">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Skills</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                            <h3>Back-End Dev</h3>
                            <p class="text-muted"><li style="list-style-type: none;">Node.js/Express</li>
                                <li style="list-style-type: none;">MongoDb</li>
                                <li style="list-style-type: none;">Ruby</li>
                                <li style="list-style-type: none;">Rails/Sinatra</li>
                                <li style="list-style-type: none;">PostgreSQL</li></p>
                            </div>
                        </div>
                     
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                                
                                
                                <h3>Front-End Dev</h3>
                                <p class="text-muted">
                                    <li style="list-style-type: none;">HTML5/CSS</li>
                                    <li style="list-style-type: none;">JavaScript</li>
                                    <li style="list-style-type: none;">AngularJS</li>
                                    <li style="list-style-type: none;">Bootstrap</li>
                                    <li style="list-style-type: none;">Materialise</li></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>